<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="DebugLogging" value="0" />
    <add key="TelegramAccessToken" value="" />
    <add key="TelegramMaxMessageSize" value="4096" />
    <add key="ServiceCycleInterval" value="10000" />
    <add key="PrtgServerApiAddress" value="" />
    <add key="PrtgServerUsesHttp" value="0" />
    <add key="PrtgServerApiUserName" value="" />
    <add key="PrtgServerApiPasshash" value="" />
    <!--seconds-->
    <add key="PrtgServerApiConnectionTimeout" value="5" />
    <add key="PrtgServerApiConnectionRetryCount" value="2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>